body {
    background-color: #121212;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

* {
    color: #E0E0E0;
}

ul {
    list-style-type: none; 
    padding-left: 0;       
    margin: 0;             
}

[data-task-id] {
    padding-left: 1em;
    margin: 10px;
}

[data-task-id]:hover {
    background-color: #444444;
    border-radius: 5px;
}

span {
    border-radius: 10%;
    padding: 5px;
    font-size: 1.1em;
    font-weight: 500;
}

.project-name {
    font-size: 2em;
    font-weight: 700;
}

.hide {
    display: none;
}

.completed {
    text-decoration: line-through;
    text-decoration-color: rgb(77, 198, 255);
    text-decoration-thickness: 0.1em;
}

/* 

Background: #121212 (charcoal black)
Primary Text: #E0E0E0 (light gray)
Secondary Text: #B0B0B0 (medium gray)
Borders/Dividers: #444444 (dark gray)
Accent: #888888 (soft gray)

*/

/* CSS */
button {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #B0B0B0;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 600;
    line-height: normal;
    margin: 5px;
    min-width: 0;
    outline: none;
    padding: 2px 16px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

button:disabled {
  pointer-events: none;
}

button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

button:active {
    box-shadow: none;
    transform: translateY(0);
}


input {
    max-width: 190px;
    border: 2px solid transparent;
    outline: none;
    border-bottom: 2px solid #3f3f3f;
    caret-color: #3f3f3f;
    background-color: #212121;
    padding: 5px;
    transition: .5s linear;
    font-family: monospace;
    letter-spacing: 1px;
}

input:focus {
    border: 2px solid #888888;
    caret-color: #888888;
    color: #888888;
    box-shadow: 4px 4px 10px #070707;
    }

input:focus::placeholder {
    color: #888888;
}

.task-checkbox {
    height: auto;
    
}

select {
  font-size: 0.9rem;
  padding: 2px 5px;
  margin: 5px;
  background-color: #212121;
}